.header{
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-size: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
    width: 100%;

    h1{
        font-size: 5rem !important;
    }

    &__update-text{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__price-box{
        display: inline;
        font-size: 3rem;
        
        &:first-child{
            margin-right: 10rem;
        }
    }

    &__100ars{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__algo-text{
        font-size: 1.3rem;
        position: absolute;
        top: 3.5rem;
        left: 102%;
        width: 100%;

        @media only screen and (max-width: 650px){
            display: none;
        }
    }

    &__input{
        font-size: 4rem;
        position: relative;
        margin-bottom: 5rem;

        input{
            font-size: 4rem;
            width: 15rem;
            text-align: center;
            outline: none;
            background: transparent;
            border: none;
            border: .2rem #fff solid;
            border-radius: .1rem;
            color: #fff;

            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }

            -moz-appearance: textfield;
        }
    }


    button{
        font-size: 4rem;
        padding: 0 5rem;
        color: #fff;
        background-color: transparent;
        border: .2rem #fff solid;
        cursor: pointer;
        transition: opacity 0.3s;
        display: block;
        margin: 0 auto;

        &:disabled{
            cursor: auto;
            opacity: 0.3;
        }
    }
}

.header__wrapper{
    filter: drop-shadow(-1px 6px 4px rgba(0,0,0,.7));
    width: 100vw;
}